.buttonbox {
  display: flex;
  align-items: center;
}

.buttonbox span {
  min-width: 40px;
  width: fit-content;
  text-align: center;
  padding: 0 10px;
  transform: translateX(20px);
  transition: 0.3s;
  user-select: none;
  opacity: 0;
}

.buttonbox button {
  background-color: #fe5d42;
  color: #fff;
  border: none;
  font-size: 1.7rem;
  height: 32px;
  width: 32px;
  line-height: 32px;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.buttonbox button.one {
  transform: translateX(32px);
  z-index: 1;
  opacity: 0;
}

.buttonbox button.active {
  transform: none;
  opacity: 1;
}

.buttonbox span.active {
  transform: none;
  opacity: 1;
}

@media (max-width: 859px) {
  .buttonbox button {
    font-size: 0.98rem;
    height: 20px;
    width: 20px;
    line-height: 13px;
    padding: 2px;
    border-radius: 6px;
    z-index: 2;
    transition: 0.3s;
  }
}

@media (max-width: 400px) {
  .buttonbox button {
    font-size: 1.1rem;
    height: 22px;
    width: 22px;
    line-height: 13px;
    padding: 2px;
    border-radius: 6px;
    z-index: 2;
    transition: 0.3s;
  }

  .buttonbox span {
	font-size: .8rem;
    min-width: 20px;
    width: fit-content;
    text-align: center;
    padding: 0 5px;
    transform: translateX(10px);
    transition: 0.3s;
    user-select: none;
    opacity: 0;
  }
}
