.card {
  width: 270px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: #fff;
  border: 2px dashed #e2e2e2;
  border-radius: 20px;
}

.card img {
  width: 230px;
  height: 230px;
  padding: 20px;
  margin-bottom: 20px;
  background: transparent;
}

.card h3 {
  color: #fe5d42;
  font-size: 1.1rem;
}

.card p {
  color: #666;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 10px 0 30px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions a {
  font-size: 1.5rem;
  height: 25px;
  color: #fe5d42;
  cursor: pointer;
}

.actions div {
  display: flex;
  align-items: center;
}

@media (max-width: 859px) {
  .card {
    width: 200px;
    height: 300px;
    padding: 20px;
  }

  .card img {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-bottom: 10px;
  }

  .card h3 {
    color: #fe5d42;
    font-size: 0.92rem;
  }

  .card p {
    color: #666;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 10px 0 30px;
  }

  .actions a {
    font-size: 1rem;
    height: 16px;
  }
}

@media (max-width: 400px) {
  .card {
    width: 150px;
    height: 220px;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
  }

  .card img {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 5px;
  }

  .card h3 {
    color: #fe5d42;
    font-size: 0.7rem;
  }

  .card p {
    color: #666;
    font-size: 0.6rem;
    font-weight: 600;
    margin: 5px 0 10px;
  }

  .actions a {
    font-size: 1.1rem;
    height: 22px;
  }
}
