.card {
  width: 270px;
  /* margin: 10px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: #fff;
  border: 2px dashed #e2e2e2;
  border-radius: 20px;
}

.card img {
  width: 230px;
  height: 230px;
  padding: 20px;
  margin-bottom: 20px;
  background: transparent;
}

.card h3 {
  color: #fe5d42;
  font-size: 1.1rem;
}

.card p {
  color: #666;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 10px 0 30px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions a {
  font-size: 1.5rem;
  height: 25px;
  color: #fe5d42;
  cursor: pointer;
}

.actions div {
  display: flex;
  align-items: center;
}

.actions div span {
  width: 10px;
  text-align: center;
  margin: 0 5px;
  transform: translateY(-37px);
  transition: 0.3s;
  user-select: none;
  opacity: 0;
}

.actions div button {
  background-color: #fe5d42;
  color: #fff;
  border: none;
  font-size: 1.7rem;
  height: 32px;
  width: 32px;
  line-height: 32px;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.actions div button.one {
  transform: translateX(32px);
  z-index: 1;
  opacity: 0;
}

.actions div button.active {
  transform: none;
  opacity: 1;
}

.actions div span.active {
  transform: none;
  opacity: 1;
}

@media (max-width: 859px) {
  .card {
    width: 200px;
    height: 300px;
    /* margin: 10px; */
    padding: 20px;
  }

  .card img {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-bottom: 10px;
  }

  .card h3 {
    color: #fe5d42;
    font-size: 0.92rem;
  }

  .card p {
    color: #666;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 10px 0 30px;
  }

  .actions a {
    font-size: 1rem;
    height: 16px;
  }

  .actions div button {
    font-size: 0.98rem;
    height: 20px;
    width: 20px;
    line-height: 13px;
    padding: 2px;
    border-radius: 6px;
    z-index: 2;
    transition: 0.3s;
  }
}

@media (max-width: 400px) {
  .card {
    width: 150px;
    height: 220px;
    /* margin: 10px; */
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
  }

  .card img {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 5px;
  }

  .card h3 {
    color: #fe5d42;
    font-size: 0.7rem;
  }

  .card p {
    color: #666;
    font-size: 0.6rem;
    font-weight: 600;
    margin: 5px 0 10px;
  }

  .actions a {
    font-size: 1.1rem;
    height: 22px;
  }

  .actions div button {
    font-size: 1.1rem;
    height: 22px;
    width: 22px;
    line-height: 13px;
    padding: 2px;
    border-radius: 6px;
    z-index: 2;
    transition: 0.3s;
  }
}
