.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	margin: 10px 10px 30px;
	background-color: #fe5d42;
	border-radius: 10px;
	font-size: 1.5rem;
	color: #ffffff;
	font-weight: 600;
}

.header a:nth-child(1) {
	color: #ffffff;
}

.header a:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #fff;
	color: #fe5d42;
	padding: 5px;
	border-radius: 5px;
}

.header a span {
	font-size: 12px;
	/* font-weight: bold; */
	position: absolute;
	background-color: #000000;
	color: #ffffff;
	width: 18px;
	height: 18px;
	text-align: center;
	border-radius: 50%;
	top: -10px;
	right: -11px;
	transform: translateY(-15px);
	opacity: 0;
	transition: .25s ease-in-out;
	visibility: hidden;
}

.header a span.added {
	visibility: initial;
	transform: none;
	opacity: 1;
}

.children {
	width: 100%;
	min-height: calc(100dvh - 250px);
	padding: 0 10px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 40px 10px 10px;
	background-color: #fe5d42;
	border-radius: 10px;
	font-size: 22px;
	color: #ffffff;
}

a div {
	position: absolute;
	top: -11px;
	right: -24px;
	font-size: 12px;
	color: #ffffff;
	transition: .8s ease-in;
}

.increased {
	transform: translateY(-15px);
	opacity: 0;
}

.decreased {
	transform: translateY(15px);
	opacity: 0;
}