.nf {
	min-height: calc(100dvh - 250px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.nfh1 {
	font-size: 12rem;
	line-height: 180px;
}

.nfp {
	font-size: 2.5rem;
}

.nfa {
	background-color: #fe5d42;
	border-radius: 10px;
	padding: 10px 15px;
	color: #fff;
	transition: .3s;
}

.nfa:hover {
	background-color: #f13b1b;
}