.container {
  display: flex;
  justify-content: space-between;
}

.products {
  width: 100%;
  display: grid;
  row-gap: 30px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

.products.notfoundsearch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.search {
  margin: 0 10px 50px;
}

.search input {
  border: 2px dashed #fe5d42;
  padding: 10px;
  width: 250px;
  font-size: 0.9rem;
  color: #fe5d42;
  border-radius: 10px;
  margin-right: 10px;
  outline: none;
}

.search input::selection {
  background: #fe5d42;
  color: #fff;
}

.search button {
  padding: 10px;
  font-size: 1rem;
  background-color: #fe5d42;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 1159px) and (min-width: 860px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .products {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  }

  .products.notfoundsearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
  }

  .search {
    margin: 0 10px 30px;
  }

  .search input {
    border: 2px dashed #fe5d42;
    padding: 10px;
    width: 250px;
    font-size: 0.9rem;
    color: #fe5d42;
    border-radius: 10px;
    margin-right: 10px;
    outline: none;
  }

  .search input::selection {
    background: #fe5d42;
    color: #fff;
  }

  .search button {
    padding: 10px;
    font-size: 1rem;
    background-color: #fe5d42;
    color: #fff;
    border: none;
    border-radius: 10px;
  }
}

@media (max-width: 859px) {
  .products {
    width: 100%;
    display: grid;
    column-gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(210px, auto));
  }

  .container {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .products {
    width: 100%;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  }

  .container {
    gap: 30px;
    width: 340px;
    justify-self: center;
  }

  .search {
    margin: 0 0 30px 0;
    width: 230px;
  }

  .search input {
    width: 180px;
    height: 35px;
    padding: 5px 10px;
    font-size: .8rem;
  }

  .search button {
    width: 35px;
    height: 35px;
    line-height: 20px;
    font-size: .8rem;
  }
}
