.productcontainer {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.productcontainer img {
	width: 300px;
	height: 300px;
	padding: 30px;
	border: solid #000 3px;
	border-radius: 25px;
	box-shadow: inset 0 0 15px 10px #d4d4d4;
}

.productcontainer .details {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
}

.productcontainer .details p {
	margin: 20px 0 5px;
	max-width: 60ch;
}

span > span {
	letter-spacing: 30px;
}

.backbutton {
	display: flex;
	justify-content: end;
}

.backbutton a {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: end;
	background-color: #fe5d42;
	color: #fff;
	padding: 5px 10px;
	width: 125px;
	border-radius: 5px;
}

.backbutton a svg {
	transition: .15s;
}

.backbutton a:hover svg {
	transform: translateX(-5px) scale(1.2);
}

.linedetail {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 40px;
}

.linedetail svg {
	transform: translateY(2px);
}

.linedetail p:nth-child(1) svg {
	color: #007e00;
}

.linedetail p:nth-child(2) svg {
	color: #ffff48;
}