.productcontainer {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.productcontainer img {
  width: 300px;
  height: 300px;
  padding: 30px;
  border: solid #000 2px;
  border-radius: 20px;
  box-shadow: inset 0 0 15px 10px #d4d4d4a2;
}

.productcontainer .details {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.productcontainer .details p {
  margin: 20px 0 5px;
  max-width: 60ch;
}

span > span {
  letter-spacing: 30px;
}

.backbutton {
  display: flex;
  justify-content: end;
}

.backbutton a {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: end;
  background-color: #fe5d42;
  color: #fff;
  padding: 5px 10px;
  width: 125px;
  border-radius: 5px;
}

.backbutton a svg {
  transition: 0.15s;
}

.backbutton a:hover svg {
  transform: translateX(-5px) scale(1.2);
}

.linedetail {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.linedetail svg {
  transform: translateY(2px);
}

.linedetail p:nth-child(1) svg {
  color: #007e00;
}

.linedetail p:nth-child(2) svg {
  color: #ffff48;
}

@media (max-width: 859px) {
  .productcontainer {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .productcontainer img {
    width: 200px;
    height: 200px;
    padding: 15px;
    border: solid #000 2px;
    border-radius: 20px;
    box-shadow: inset 0 0 8px 8px #d4d4d4a2;
  }

  .productcontainer .details {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }

  .productcontainer .details h1 {
    font-size: 1.6rem;
  }

  .productcontainer .details p {
    margin: 20px 0 5px;
    max-width: 60ch;
    text-align: justify;
  }

  span > span {
    letter-spacing: 10px;
  }

  .backbutton a {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: end;
    background-color: #fe5d42;
    color: #fff;
    padding: 8px 10px;
    font-size: 0.88rem;
    width: 110px;
    border-radius: 8px;
  }

  .linedetail {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 0.82rem;
    gap: 80px;
  }
}

@media (max-width: 400px) {
  .productcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .productcontainer img {
    width: 120px;
    height: 120px;
    padding: 10px;
    border: solid #000 2px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px 5px #d4d4d4a2;
  }

  .productcontainer .details {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .productcontainer .details h1 {
    font-size: 1.4rem;
    text-align: center;
  }

  .productcontainer .details p {
    margin: 20px 0 5px;
    max-width: 40ch;
    text-align: justify;
  }

  span > span {
    letter-spacing: 10px;
  }

  .backbutton a {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: end;
    background-color: #fe5d42;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.78rem;
    width: 100px;
    border-radius: 5px;
  }

  .linedetail {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 0.8rem;
    gap: 30px;
  }
}
