:root {
  font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
  line-height: 1.5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100dvw;
  max-width: 1200px;
  min-height: 100dvh;
  padding: 0;
  background-color: #f9fafc;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button {
  user-select: none;
}

img {
  user-select: none;
}
/* 
@media (max-width: 360px) {
  body {
    max-width: 360px;
  }
} */